.top {
  background-color: #BF0A0A;
  text-align: center;
  color: #000000;
  padding: 5rem;
}

.top-color {
  background-color: #BF0A0A;
  color: #000000 !important;
}

.gen {
  background-color: inherit;
  color: white;
  padding: 2rem;
}

.link {
  color: white;
}

.link:hover {
  color: white !important;
  text-decoration: underline !important;
}

body{
    background-color: #000000;
    max-height: 100%;
}

html {
  scroll-behavior: smooth;
}

.center {
  text-align: center;
}

.center-item {
  display: inline-block;
  text-align: left;
}

.head {
  font-size: 2rem;
  padding: 1rem;
}

.caveat {
  font-family: 'Caveat', cursive;
}

.navbar-font-size {
  font-size: 1.5rem;
}

.full {
  display: block;
}

.img-gen {
  margin: 1rem;
}

.img-clinic {
  width: 40%;
  border: 5px solid #BF0A0A;
}

.profile {
  width: 40%;
  max-width: 280px;
}

.title {
  font-size: 4rem;
  overflow-wrap: break-word;
}

.source-code-pro {
  font-family: "Source Code Pro", monospace;
}

#sidebar {
  min-height: 100vh;
  max-width: 250px;
  min-width: 250px;
  height: 100vh;
}

.hidden {
  margin-left: -250px;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.side {
  align-items: stretch;
  width: 250px;
  max-width: 100%;
  min-height: 100vh;
  flex: none;
}

.col-btn {
  max-width: 25px;
  min-width: 25px;
  margin-top: 0;
}

.blogpost {
  padding: 1rem;
}

.flush {
  margin: 0;
  padding: 0;
}
